In [2]:
import pickle
import os 

results_path = "/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/output/results"
all_col_clusters_scores = []
for f in os.listdir(results_path):
    if f.startswith('scores_col_cluster_'):
        scores = pickle.load(open(os.path.join(results_path, f), 'rb'))
        all_col_clusters_scores.append(scores)

In [1]:
import pandas as pd
df = pd.DataFrame.from_dict(all_col_clusters_scores)
print(df['tp'].sum()/(df['tp'].sum() + df['fp'].sum()))
ae = ("Actual Errors:", df['tp'].sum() + df['fn'].sum())
tt = ("All values:", df['tp'].sum() + df['fn'].sum() + df['fp'].sum() + df['tn'].sum())
ae / tt

NameError: name 'all_col_clusters_scores' is not defined

In [3]:
all_col_clusters_scores_df = pd.DataFrame.from_dict(all_col_clusters_scores)

In [4]:
all_col_clusters_scores_df

,col_cluster,precision,recall,f_score,support,tp,fp,fn,tn
0,"(3, 2)",0.019007,0.019007,0.019007,None,6650,343269,0,1
1,"(3, 3)",0.988693,0.988693,0.988693,None,0,0,97,8482
2,"(0, 2)",0.503233,0.503233,0.503233,None,23,922,0,911
3,"(0, 3)",1.000000,1.000000,1.000000,None,0,0,0,928
4,"(2, 1)",0.986364,0.986364,0.986364,None,82,15,0,1003
5,"(2, 0)",1.000000,1.000000,1.000000,None,0,0,0,550
6,"(1, 1)",0.972264,0.972264,0.972264,None,0,0,129,4522
7,"(1, 0)",1.000000,1.000000,1.000000,None,0,0,0,368
8,"(3, 4)",0.981113,0.981113,0.981113,None,0,0,168,8727
9,"(0, 1)",0.983477,0.983477,0.983477,None,0,0,46,2738
10,"(0, 0)",1.000000,1.000000,1.000000,None,0,0,0,2320
11,"(1, 4)",0.885353,0.885353,0.885353,None,29,213,50,2002
12,"(3, 1)",1.000000,1.000000,1.000000,None,0,0,0,34992
13,"(3, 0)",1.000000,1.000000,1.000000,None,0,0,0,34992
14,"(1, 2)",1.000000,1.000000,1.000000,None,0,0,0,2294
15,"(1, 3)",1.000000,1.000000,1.000000,None,0,0,0,242
16,"(2, 2)",1.000000,1.000000,1.000000,None,0,0,0,1100
17,"(2, 3)",0.950000,0.950000,0.950000,None,0,0,55,1045

In [17]:
import pickle 

with open("/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/output/results/scores_all.pickle", 'rb') as f:
    t = pickle.load(f)
t

{'n_samples': 94,
 'total_recall': 0.9256378769272752,
 'total_precision': 0.01931646369763356,
 'total_fscore': 0.03784320506956143,
 'total_tp': 6784,
 'total_fp': 344419,
 'total_tn': 107217,
 'total_fn': 545}

In [3]:
import pandas as pd
import json
import os

repition = range(3, 4)
labeling_budgets = range(1, 2)
sandbox_path = "/home/fatemeh/ED-Scale/Old_Files/Benchmarks/kaggle_sample_dataset/separated_kaggle_lake"
results_path = "/home/fatemeh/ED-Scale/Old_Files/Benchmarks/kaggle_sample_dataset/results"
dir_levels = 1 # That means we have files in each subdirectory of sandbox dir
datasets = ["best_sellers", "1", "2", "cou_1", "cou_2", "disney", "imdb", "marvels"]
algorithm = 'raha'


if dir_levels == 1:
    for dir in os.listdir(sandbox_path):
        datasets.append(dir)

# "actuall_errors_json":[]

results_dict = {"algorithm":[], "dataset":[], "execution_number":[], 
              "precision": [], "recall": [], "f_score": [],
                "tp": [], "ed_tpfp": [], "ed_tpfn": [], "execution_time": [],
                 "number_of_labeled_tuples": [], "number_of_labeled_cells": [], "detected_errors_keys":[]}
count = 0 
d = []
no_errors_files = []
raha_erros_file = []
for i in repition:
    for dataset in datasets:
        if dataset not in no_errors_files and dataset not in raha_erros_file:
            for label_budget in labeling_budgets:
                # "/{}_labels_{}_execution".format(label_budget, i) +
                file_path = results_path + '/{}_{}_number#{}_${}$labels.json'\
                            .format(algorithm, dataset, str(i), str(label_budget))
                # print(file_path)
                if os.path.exists(file_path):
                   
                    with open(file_path) as file:
                        json_content = json.load(file)
                        results_dict['algorithm'].append(algorithm)
                        results_dict['dataset'].append(dataset)
                        # results_dict['dataset_shape'].append(json_content['dataset_shape'])
                        results_dict['execution_number'].append(i)
                        results_dict['precision'].append(json_content['precision'])
                        results_dict['recall'].append(json_content['recall'])
                        results_dict['f_score'].append(json_content['f_score'])
                        results_dict['tp'].append(json_content['tp'])
                        results_dict['ed_tpfp'].append(json_content['ed_tpfp'])
                        results_dict['ed_tpfn'].append(json_content['ed_tpfn'])
                        results_dict['execution_time'].append(json_content['execution-time'])
                        results_dict['number_of_labeled_tuples'].append(json_content['number_of_labeled_tuples'])
                        results_dict['number_of_labeled_cells'].append(json_content['number_of_labeled_cells'])
                        # results_dict['actuall_errors_json'].append(json_content['actuall_errors_json'])
                        results_dict['detected_errors_keys'].append(json_content['detected_errors_keys'])
                else:
                    print("The file does not exist: {}".format(file_path))
                    print()
        
result_df = pd.DataFrame.from_dict(results_dict)
# result_df.to_csv("/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/kaggle_raha/raha-dtype-orig/results_all_{}.csv".format(algorithm))

The file does not exist: /home/fatemeh/ED-Scale/Old_Files/Benchmarks/kaggle_sample_dataset/results/raha_kaggle_sample_sandbox_number#3_$1$labels.json

In [4]:
result_df

,algorithm,dataset,execution_number,precision,recall,f_score,tp,ed_tpfp,ed_tpfn,execution_time,number_of_labeled_tuples,number_of_labeled_cells,detected_errors_keys
0,raha,best_sellers,3,0.000000,0.000000,0.000000,0.0,0.0,178,1.521071,1,7,[]
1,raha,1,3,0.000000,0.000000,0.000000,0.0,0.0,90,1.334939,1,8,[]
2,raha,2,3,0.000000,0.000000,0.000000,0.0,0.0,115,4.698917,1,17,[]
3,raha,cou_1,3,0.954545,0.604712,0.740385,231.0,242.0,382,1.732462,1,13,"[[0, 4], [1, 4], [2, 4], [3, 4], [4, 4], [5, 4..."
4,raha,cou_2,3,0.540037,0.489039,0.513274,290.0,537.0,593,2.518604,1,21,"[[0, 10], [1, 10], [2, 10], [3, 10], [4, 10], ..."
5,raha,disney,3,0.000000,0.000000,0.000000,0.0,0.0,122,1.321739,1,6,[]
6,raha,imdb,3,0.000000,0.000000,0.000000,0.0,0.0,247,6.650847,1,14,[]
7,raha,marvels,3,0.000000,0.000000,0.000000,0.0,0.0,10070,764.969854,1,12,[]

In [12]:
pp, rr, ff = 0, 0, 0
for i in range(1, 4):
    df = result_df[result_df['execution_number'] == i]
    p = sum(df['tp'])/(sum(df['ed_tpfp']))
    r = sum(df['tp'])/(sum(df['ed_tpfn']))
    f_score = 2*p*r/(p+r)
    print(df["number_of_labeled_cells"].sum())
    pp += p
    rr += r
    ff += f_score
print(pp/3, rr/3, ff/3)

98
98
98
0.5315882897370388 0.33663456503426453 0.3391296236219506

In [9]:
print(p, r, f_score)

0.18012992165030248 0.49620927532272385 0.26431157113492076

In [ ]:
result_df[result_df["execution_number"]== 1]["number_of_labeled_cells"].sum()

In [5]:
import pickle
import pandas as pd 

path = "/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/mediate_files/col_grouping_res/col_df_res/col_df_labels_cluster_3.pickle"

with open(path, 'rb') as f:
    t = pickle.load(f)
    df = pd.DataFrame.from_dict(t)

In [ ]:
df["table_path"].unique()

In [6]:
df[df["column_cluster_label"] == 2]

,column_cluster_label,col_value,table_id,table_path,table_cluster,col_id
2,2,[A Year of Marvels: April Infinite Comic (2016...,6b4b915850836047cbb546c20c7442d3,/Users/fatemehahmadi/Documents/Github-Private/...,3,0
3,2,"[(2016), (2016), (2016), (2016), (2016), (2016...",6b4b915850836047cbb546c20c7442d3,/Users/fatemehahmadi/Documents/Github-Private/...,3,1
4,2,[A Year of Marvels: April Infinite Comic (2016...,6b4b915850836047cbb546c20c7442d3,/Users/fatemehahmadi/Documents/Github-Private/...,3,2
5,2,"[Yves Bigerel, Jamal Campbell, Danilo S. Beyru...",6b4b915850836047cbb546c20c7442d3,/Users/fatemehahmadi/Documents/Github-Private/...,3,5
6,2,"[Yves Bigerel, Chris Sims, Chad Bowers, Ryan N...",6b4b915850836047cbb546c20c7442d3,/Users/fatemehahmadi/Documents/Github-Private/...,3,6
7,2,"[Jamal Campbell, None, None, Jamal Campbell, J...",6b4b915850836047cbb546c20c7442d3,/Users/fatemehahmadi/Documents/Github-Private/...,3,7
8,2,"[Marvel Universe, Marvel Universe, Marvel Univ...",6b4b915850836047cbb546c20c7442d3,/Users/fatemehahmadi/Documents/Github-Private/...,3,8
9,2,"[Infinite Comic, Infinite Comic, Infinite Comi...",6b4b915850836047cbb546c20c7442d3,/Users/fatemehahmadi/Documents/Github-Private/...,3,9
10,2,"[Rated T+, None, Rated T+, None, None, None, N...",6b4b915850836047cbb546c20c7442d3,/Users/fatemehahmadi/Documents/Github-Private/...,3,10
11,2,"[Free, Free, Free, Free, Free, Free, Free, Fre...",6b4b915850836047cbb546c20c7442d3,/Users/fatemehahmadi/Documents/Github-Private/...,3,11

In [ ]:
import pickle
import random
import pandas as pd 

for i in range(4):
    print("********Table Group {}********".format(i))
    path = "/Users/fatemehahmadi/Documents/Github-Private/ED-Scale/marshmallow_pipeline/mediate_files/col_grouping_res/col_df_res/col_df_labels_cluster_{}.pickle".format(i)
    with open(path, 'rb') as f:
        t = pickle.load(f)
        df = pd.DataFrame.from_dict(t)
        for j in range(df["column_cluster_label"].unique().shape[0]):
            print("---------Column Group {}--------".format(j))
            col_values = df[df["column_cluster_label"] == j]["col_value"].to_list()
            for cv in col_values:
                print(random.sample(cv, 5))

In [40]:
import os
import pandas as pd
import html
import re

def value_normalizer(value):
    """
    This method takes a value and minimally normalizes it.
    """
    if isinstance(value, str):
        value = html.unescape(value)
        value = re.sub("[\t\n ]+", " ", value, re.UNICODE)
        value = value.strip("\t\n ")
    return value

def read_csv_dataset(dataset_path):
    """
    This method reads a dataset from a csv file path.
    """
    dataframe = pd.read_csv(dataset_path, sep=",", header="infer", encoding="utf-8", dtype=str,
                                keep_default_na=False, low_memory=False).applymap(value_normalizer)
    dataframe = dataframe.replace('', 'NULL')
    dataframe = dataframe.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)
    return dataframe

path = "/home/fatemeh/ED-Scale/Old_Files/Benchmarks/kaggle_sample_dataset/separated_kaggle_lake/kaggle_sample_sandbox/best_sellers"

clean_df_path = os.path.join(path, "clean.csv")
dirty_df_path = os.path.join(path, "dirty_clean.csv")

clean_df = read_csv_dataset(clean_df_path)
dirty_df = read_csv_dataset(dirty_df_path)

# clean_df = pd.read_csv(clean_df_path)
# clean_df = clean_df.astype({'place':'int'})
# clean_df.to_csv(clean_df_path, index=False)
dirty_df != clean_df

      Name  Author  User Rating  Reviews  Price   Year  Genre
0    False   False        False    False  False  False  False
1    False   False        False    False  False  False  False
2    False   False        False    False  False  False  False
3    False   False        False    False  False  False  False
4    False   False        False    False  False  False  False
..     ...     ...          ...      ...    ...    ...    ...
545  False   False        False    False  False  False  False
546  False   False        False    False  False  False  False
547  False   False        False    False  False  False  False
548  False   False        False    False  False  False  False
549  False   False        False    False  False  False  False

[550 rows x 7 columns]

In [34]:
dirty_df = dirty_df.astype({'Length':'float'})
dirty_df

,Details,Accession,Release_Date,Species,Genus,Family,Length,Genotype,Genome_Region,Segment,Protein,Geo_Location,Host,Isolation_Source,Collection_Date,BioSample,GenBank_Title
0,NULL,YP_009724389,2020-01-13T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,7096,NULL,NULL,NULL,orf1ab polyprotein,NULL,Homo sapiens,NULL,2019-12,NULL,orf1ab polyprotein [Wuhan seafood market pneum...
1,NULL,YP_009725255,2020-01-17T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,38,NULL,NULL,NULL,ORF10 protein,China,Homo sapiens,NULL,2019-12,NULL,ORF10 protein [Wuhan seafood market pneumonia ...
2,NULL,YP_009725295,2020-01-28T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,4405,NULL,NULL,NULL,orf1a polyprotein,China,Homo sapiens,NULL,2019-12,NULL,orf1a polyprotein [Wuhan seafood market pneumo...
3,NULL,YP_009725296,2020-01-28T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,43,NULL,NULL,NULL,ORF7b,China,Homo sapiens,NULL,2019-12,NULL,ORF7b [Wuhan seafood market pneumonia virus]
4,NULL,YP_009724390,2020-01-13T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,1273,NULL,NULL,NULL,surface glycoprotein,China,Homo sapiens,NULL,2019-12,NULL,surface glycoprotein [Wuhan seafood market pne...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,NULL,QHU36838,2020-02-05T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,61,NULL,NULL,NULL,ORF6 protein,China,Homo sapiens,lung,2019-12-30,NULL,ORF6 protein [Severe acute respiratory syndrom...
460,NULL,QHU36839,2020-02-05T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,121,NULL,NULL,NULL,ORF7a protein,China,Homo sapiens,lung,2019-12-30,NULL,ORF7a protein [Severe acute respiratory syndro...
461,NULL,QHU36840,2020-02-05T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,121,NULL,NULL,NULL,ORF8 protein,China,Homo sapiens,lung,2019-12-30,NULL,ORF8 protein [Severe acute respiratory syndrom...
462,NULL,QHU36841,2020-02-05T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,419,NULL,NULL,NULL,nucleocapsid phosphoprotein,China,Homo sapiens,lung,2019-12-30,NULL,nucleocapsid phosphoprotein [Severe acute resp...
463,NULL,QHU36842,2020-02-05T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,38,NULL,NULL,NULL,ORF10 protein,China,Homo sapiens,lung,2019-12-30,NULL,ORF10 protein [Severe acute respiratory syndro...

In [26]:
dirty_df.head(2)

,Details,Accession,Release_Date,Species,Genus,Family,Length,Genotype,Genome_Region,Segment,Protein,Geo_Location,Host,Isolation_Source,Collection_Date,BioSample,GenBank_Title
0,NaN,YP_009724389,2020-01-13T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,7096.0,NaN,NaN,NaN,orf1ab polyprotein,NaN,Homo sapiens,NaN,2019-12,NaN,orf1ab polyprotein [Wuhan seafood market pneum...
1,NaN,YP_009725255,2020-01-17T00:00:00Z,Severe acute respiratory syndrome-related coro...,Betacoronavirus,Coronaviridae,38.0,NaN,NaN,NaN,ORF10 protein,China,Homo sapiens,NaN,2019-12,NaN,ORF10 protein [Wuhan seafood market pneumonia ...